################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SS.Data/obj
/.vs/ServiceShare/FileContentIndex

/ss.presentation/obj/Debug
/SS.Service/obj
*.v2
/SS.Data/bin/Debug/net8.0
